@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-900 text-white !important;
}

.color-theme-header-bg {
  @apply bg-gray-600 text-slate-100 !important;
}
.block-bg {
  @apply bg-stone-900 !important;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/* .content {
  @apply bg-slate-100 text-black !important;
} */
